:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.example-form mat-slide-toggle {
margin: 8px 0;
display: block;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgba(15, 110, 90, 0.76) !important;
 }

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color:  rgb(14, 151, 122) !important;;
}

.priority {
font-size: 15px;
}

.form {
  width: 20rem;
}

mat-slider {
width: 300px;
}

::ng-deep .mat-card-title{
text-align: center;
}

::ng-deep .mat-card-subtitle{
text-align: center;
}

.form-control {
  display: block;
}

.form-footer {
  display: flex;
  justify-content: center;
}
