:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.priority {
  font-size: 15px;
}

.form {
    width: 20rem;
}

mat-slider {
  width: 300px;
}

::ng-deep .mat-card-title{
  text-align: center;
}

::ng-deep .mat-card-subtitle{
  text-align: center;
}

.form-control {
    display: block;
}

.form-footer {
    display: flex;
    justify-content: center;
}
