<mat-card>
  <mat-card-title>Admit Patient to Division</mat-card-title>
    <mat-card-subtitle>Must REQUEST admission if division isn't your own</mat-card-subtitle>
    <form class="form" [formGroup]="admitPatient">
      <mat-form-field appearance="fill" class='form-control'>
        <mat-label>PatientID</mat-label>
        <mat-select formControlName="patients">
            <mat-option *ngFor="let patient of patients" [(value)]="selectedDepartment">
                {{patient.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <section>
          <mat-slide-toggle [(ngModel)]="checked" class="form-control" (change)="changed()">Request Patient Admission: {{checked}}</mat-slide-toggle>
        </section>
        <mat-form-field class="form-control">
            <mat-label>Local Doctor</mat-label>
            <input matInput formControlName="localDoctor" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
          <mat-label>(Optional) Private Insurance Number</mat-label>
          <input matInput formControlName="PIN" type="text" />
      </mat-form-field>
      <div *ngIf="!checked">
        <mat-form-field class="form-control">
            <mat-label>Room Number</mat-label>
            <input matInput formControlName="room" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
            <mat-label>Bed Number</mat-label>
            <input matInput formControlName="bed" type="text" />
        </mat-form-field>
      </div>
      <div *ngIf="checked">
        <mat-form-field appearance="fill" class='form-control'>
            <mat-label>Division (if requesting admission)</mat-label>
            <mat-select formControlName="division">
                <mat-option *ngFor="let department of departments" [(value)]="selectedDepartment">
                    {{department.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="priority">
          <mat-label>Priority Assesment (1 to 10)</mat-label>
        </div>
        <mat-slider
          thumbLabel
          tickInterval="1"
          min="1"
          max="10"></mat-slider>
      </div>
        <mat-form-field appearance="fill" class='form-control'>
            <mat-label>Notes/Rationale for Request</mat-label>
            <textarea matInput formControlName="note" style="line-height: 40px !important"></textarea>
        </mat-form-field>
        <div class="form-footer">
            <button mat-stroked-button (click)="admitPatient()">Admit Patient/Request Admission</button>
            <button mat-stroked-button (click)="cancel()">Cancel</button>
        </div>
    </form>
</mat-card>
