<mat-card>
    <form class="form" [formGroup]="dischargePatient">
        <mat-form-field class="form-control">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" type="text" />
        </mat-form-field>
        <mat-form-field class="form-control">
            <mat-label>Family Doctor</mat-label>
            <input matInput formControlName="doctor" type="text" />
        </mat-form-field>
        <mat-form-field appearance="fill" class='form-control'>
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="note" style="line-height: 40px !important"></textarea>
        </mat-form-field>
        <div class="form-footer">
            <button mat-button (click)="discharge()">Discharge Patient</button>
        </div>
    </form>
</mat-card>